
html {
  height: 100%;
}

body {
  font-family: 'Roboto Slab', serif;
  color: purple;
  font-weight: 300;
  background-image: url("./Components/ex.png");
  background-attachment: fixed;
  background-size: cover;
  display: flex;
  height: 100%;
}
#root {
  width: 100%;
}

.game {
  margin-top: 50px;
}

.next-question {
  flex-wrap: wrap;
}

.scores {
  display: flex;
  justify-content: space-around;
}

.single-score {
  display: flex;
  margin: 10px;
}

.score-buttons {
  display: flex;
  flex-direction: column;
}

.score-team-name {
  margin-right: 25px;
  font-style: italic;
  font-weight: bold;
  font-stretch: extra-expanded;
}

.score-plus-btn {
  margin-bottom: 10px !important;
}

.parent-menu {
  display: flex; 
  height: 100%;
}

.scores-menu {
  flex-grow: 0.5;
}

.game-menu {
  flex-grow: 2;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 30px 0px;
}
.question {
  background-color: #2876AA;
  flex-grow: 1;
  text-align: center;
  font-size: x-large;
  font-weight: bold;
  color: white;
  border-radius: 30px;
  outline-offset: 4px;
  border-bottom: 8px #1E618F solid;
  border-right: 3px #1E618F solid;
  border-left: 3px #1E618F solid;
  border-top: 2px #1E618F solid;
  display: flex;
  align-items: center;
  justify-content: center;
}
.answers {
  flex-grow: 1.5;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 20px;
  margin: 20px 0px;
}
.answer {
  border-radius: 30px;
  font-size: xx-large;
  font-weight: bold;
  background-color: #42B3FC;
  color: white;
  border-bottom: 8px #308FD1 solid;
  border-right: 3px #308FD1 solid;
  border-left: 3px #308FD1 solid;
  border-top: 2px #308FD1 solid;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.answer:hover {
  background-color: #F4A81C;
  border-bottom: 8px #D28C0A solid;
  border-right: 3px #D28C0A solid;
  border-left: 3px #D28C0A solid;
  border-top: 2px #D28C0A solid;
}

.time-menu {
  flex-grow: 0.5;
}